@using Microsoft.AspNet.Identity
@model TellToAsk.Models.ManageUserProfilViewModel

@{
    ViewBag.Title = "Manage User Account";
    IEnumerable<SelectListItem> genderList = (IEnumerable<SelectListItem>)ViewData["genders"];
    List<TellToAsk.Areas.LoggedUser.Models.CategoryModel> selectedCategories = ViewBag.catSelected;
    
    
}

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>
<h2 class="text-success"><strong>@ViewBag.StatusMessage</strong></h2>
@using (Html.BeginForm("ManageUser", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal">
        <legend>Change User Profil Form</legend>
       
       <div class="control-group">
            @Html.Label("Points", new { @class = "control-label" })
            <div class="controls">
               <p> @ViewBag.Points</p>
            </div>
        </div>
       @* <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>*@

        <div class="control-group">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
            <div class="controls">
                @(Html.DropDownListFor(g => g.Gender, (IEnumerable<SelectListItem>)ViewData["genders"],"Select Gender"))
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "control-label" })
            <div class="controls">
                @(Html.Kendo().DatePicker()
                        .Name("birthDate")
                        .Min(new DateTime(1901, 01, 01))
                        .Max(new DateTime(2007, 12, 31))
                        .Events(e => e.Change("change"))
                       
                        )
                    @Html.TextBoxFor(m => m.BirthDate, new { @class = "hidden", @Id = "birth-date" })
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <p> You must choose at least 3 categories that suit your age! </p>
                <p id="error-holder" style="color:red;"><em> @ViewBag.error </em></p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Categories</label>
            <div class="controls">
                @(Html.Kendo().MultiSelect()
                    .Name("categories")
                    .DataTextField("Name")
                    .DataValueField("CategoryId")
                    .Placeholder("Select categories...")
                    .AutoBind(false)
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("GetUserCategories", "Base");
                        })
                        .ServerFiltering(true);
                    })
                .Value(selectedCategories)
                )
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword, "Confirm Password", new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.OldPassword)
                    </div>
                </div>
         <div class="form-actions no-color">
             <input type="submit" value="Save Changes" class="btn" />
        </div>
    </fieldset>
}

<script>
    function change() {

        $("#birth-date").val(kendo.toString(this.value(), 'dd-MM-yyyy'));
        //console.log(kendo.toString(this.value(), 'yyyy-MM-dd'));
        //console.log(kendo.toString(this.value(), 'd'));
    }

    function navigate() {
        // console.log("Navigate");
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/jqueryval")
}