@model TellToAsk.Areas.Administration.Models.QuestionModelDetails

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<fieldset>
    <legend>Question</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd class=".break-word">
            @Html.DisplayFor(model => model.Title)
        </dd>
        @if (Model.Text != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Text)
            </dt>

            <dd class=".break-word">
                @Html.DisplayFor(model => model.Text)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayName("Asked Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AskDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd class="break-word">
            @Html.DisplayFor(model => model.Category)
        </dd>
        @if (Model.TargetedGender != "")
        {
            <dt>
                @Html.DisplayNameFor(model => model.TargetedGender)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TargetedGender)
            </dd>
        }
        @if (Model.TargetedMinAgeAsString != "")
        {
            <dt>
                @Html.DisplayNameFor(model => model.TargetedMinAge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TargetedMinAgeAsString)
            </dd>
        }
        @if (Model.TargetedMaxAgeAsString != "")
        {
            <dt>
                @Html.DisplayNameFor(model => model.TargetedMaxAge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TargetedMaxAgeAsString)
            </dd>
        }
        @if (Model.Answers.Count() > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Answers)
            </dt>

            <dd>
                @foreach (var answer in Model.Answers)
                {
                    @Html.ActionLink(answer.Text,
                             "Edit", "Answers", new { id = answer.Id }, new { @class = "list-answer break-word" });
                    <span style="color:red">@answer.Reported</span>
                    <br />
                }
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

    </dl>
</fieldset>
<div class="form-actions">

    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
