@model TellToAsk.Areas.Administration.Models.AnswerModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Answer</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Creator)
        @Html.HiddenFor(model => model.AnsweredDate)

        <div class="control-group">
            @Html.LabelFor(model => model.Question, new { @class = "control-label" })
            <div class="controls">
                @Html.ValueFor(model => model.Question)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Text, new { @class = "control-label" })
            <div class="controls">
                @Html.TextAreaFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Reported, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.IsReported)
                @Html.ValidationMessageFor(model => model.IsReported, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

