@model TellToAsk.Areas.LoggedUser.Models.QuestionModel

<fieldset>
    <legend>
        Target people you want to ask
    </legend>

    <div class="control-group">
        @Html.LabelFor(model => model.TargetedMinAge, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.TargetedMinAge)
            @Html.ValidationMessageFor(model => model.TargetedMinAge, null, new { @class = "help-inline" })
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.TargetedMaxAge, new { @class = "control-label" })
        <div class="controls">
            @Html.EditorFor(model => model.TargetedMaxAge)
            @Html.ValidationMessageFor(model => model.TargetedMaxAge, null, new { @class = "help-inline" })
        </div>
    </div>

    <div class="control-group">
        @Html.LabelFor(model => model.TargetedGender, new { @class = "control-label" })
        <div class="controls">
            @(Html.DropDownListFor(model => model.TargetedGender, (IEnumerable<SelectListItem>)ViewBag.genders))
            @Html.ValidationMessageFor(model => model.TargetedGender, null, new { @class = "help-inline" })
        </div>
    </div>
</fieldset>