@model TellToAsk.Areas.Administration.Models.CategoryModel

@{
    ViewBag.Title = "Edit category";
}

<h2>Edit category</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Category</legend>

        @Html.HiddenFor(model => model.CategoryId)

        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.AgeRating, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(model => model.AgeRating, (IEnumerable<SelectListItem>)ViewBag.AgeRatings)
                @Html.ValidationMessageFor(model => model.AgeRating, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" value="Save" class="btn btn-primary" />
            <input type="button" value="Back to List" class="btn btn-primary"
                   onclick="window.location = '/Administration/Categories/';">
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

