@model TellToAsk.Model.ApplicationUser


<fieldset class="form-horizontal">
    <legend>Add Roles</legend>
   
    @using (Ajax.BeginForm("AddRole", new { id = Model.Id }, new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "roles-list",
    }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="control-group">
            @Html.Label("Select Role: ", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("roleId", (IEnumerable<SelectListItem>)ViewBag.Roles)
                @Html.ValidationMessageFor(model => model.Roles, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Add" class="btn btn-primary" />
            <input type="button" value="Cancel" onclick="closeEditForm()" class="btn btn-primary" />
        </div>
    }
</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function closeEditForm() {
        $('#edit-roles').html("");
    }
</script>